<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/user-list.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">

    <script src="https://kit.fontawesome.com/3010d94d2f.js" crossorigin="anonymous"></script>
    <title>User list</title>
</head>
<body>
    <div class="base-container">
        
        <nav class="navigation">
            <img src="../img/logo.svg" alt="logo">
            <ul>
                <li>
                    <a href="#">User List</a>
                </li>
                <li>
                    <a href="#">Friends</a>
                </li>
                <li>
                    <a href="#">Messages</a>
                </li>
                <li>
                    <a href="#">My Profile</a>
                </li>
                <li>
                    <a href="#">Log out</a>
                </li>
            </ul>
            <i class="hamburger fas fa-bars"></i>
        </nav>

        <main class="main">

            <div class="user-list">

                <p>User List</p>

                <div class="search-filter">

                    <div class="user-elo">
                        <p>User elo (50%):</p>
                        <input type="range">
                    </div>

                    <select>
                        <option value="">Global Elite</option>
                    </select>

                </div>

                <input class="search-field" type="search" results="0">

                <section class="users">
                    <div class="user">
                        <img src="../img/panda-2859555_640.jpg" alt="user avatar">
                        <div class="user-details">
                            <p>PterrodaktylPL</p>
                            <p><strong>Private: </strong>no</p>
                            <p><strong>Rank: </strong>Global Elite</p>
                            <p><strong>Elo: </strong> 87%</p>
                        </div>
                        <div class="user-buttons">
                            <button>Invite</button>
                            <button>Profile</button>
                        </div>
                    </div>
                    <div class="user">
                        <img src="../img/panda-2859555_640.jpg" alt="user avatar">
                        <div class="user-details">
                            <p>PterrodaktylPL</p>
                            <p><strong>Private: </strong>no</p>
                            <p><strong>Rank: </strong>Global Elite</p>
                            <p><strong>Elo: </strong> 87%</p>
                        </div>
                        <div class="user-buttons">
                            <button>Invite</button>
                            <button>Profile</button>
                        </div>
                    </div>
                    <div class="user">
                        <img src="../img/panda-2859555_640.jpg" alt="user avatar">
                        <div class="user-details">
                            <p>PterrodaktylPL</p>
                            <p><strong>Private: </strong>no</p>
                            <p><strong>Rank: </strong>Global Elite</p>
                            <p><strong>Elo: </strong> 87%</p>
                        </div>
                        <div class="user-buttons">
                            <button>Invite</button>
                            <button>Profile</button>
                        </div>
                    </div>
                    <div class="user">
                        <img src="../img/panda-2859555_640.jpg" alt="user avatar">
                        <div class="user-details">
                            <p>PterrodaktylPL</p>
                            <p><strong>Private: </strong>no</p>
                            <p><strong>Rank: </strong>Global Elite</p>
                            <p><strong>Elo: </strong> 87%</p>
                        </div>
                        <div class="user-buttons">
                            <button>Invite</button>
                            <button>Profile</button>
                        </div>
                    </div>
                    <div class="user">
                        <img src="../img/panda-2859555_640.jpg" alt="user avatar">
                        <div class="user-details">
                            <p>PterrodaktylPL</p>
                            <p><strong>Private: </strong>no</p>
                            <p><strong>Rank: </strong>Global Elite</p>
                            <p><strong>Elo: </strong> 87%</p>
                        </div>
                        <div class="user-buttons">
                            <button>Invite</button>
                            <button>Profile</button>
                        </div>
                    </div>
                    <div class="user">
                        <img src="../img/panda-2859555_640.jpg" alt="user avatar">
                        <div class="user-details">
                            <p>PterrodaktylPL</p>
                            <p><strong>Private: </strong>no</p>
                            <p><strong>Rank: </strong>Global Elite</p>
                            <p><strong>Elo: </strong> 87%</p>
                        </div>
                        <div class="user-buttons">
                            <button>Invite</button>
                            <button>Profile</button>
                        </div>
                    </div>
                    <div class="user">
                        <img src="../img/panda-2859555_640.jpg" alt="user avatar">
                        <div class="user-details">
                            <p>PterrodaktylPL</p>
                            <p><strong>Private: </strong>no</p>
                            <p><strong>Rank: </strong>Global Elite</p>
                            <p><strong>Elo: </strong> 87%</p>
                        </div>
                        <div class="user-buttons">
                            <button>Invite</button>
                            <button>Profile</button>
                        </div>
                    </div>
                    
                </section>

            </div>

        </main>

    </div>
</body>