<!doctype html>
<html class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title><<{$config.cfg_webname}></title>
	<meta name="keywords" content="<<{$config.cfg_keywords}>">
	<meta name="description" content="<<{$config.cfg_description}>">
	<{include file="public/header" /}>
</head>
<body>

<div class="x-nav">
	<span class="layui-breadcrumb">
		<a href="{:url('Index/indexinfo')}">首页</a>
		<{$navMenu|raw}>
	</span>
	<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
		<i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
	</a>
</div>

<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body ">
					<table id="demo" lay-filter="test"></table>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/html" id="toolbarDemo">
	<div class="layui-btn-container layui-form">
		<button class="layui-btn" onclick="xadmin.open('添加角色','<{:url(\'systemRoleAdd\')}>')"><i class="layui-icon"></i>添加角色</button>
	</div>
</script>

<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


</body>
</html>

<script type="text/javascript">

    layui.use(['table'], function(){
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#demo'
            ,url: "<{:url('systemRole')}>" //数据接口
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print']
            , page:{
                limits:[10,50,100]
            }
            ,cols: [[ //表头
                {field: 'id', title: 'ID',width:"10%"}
                ,{field: 'role_name', title: '角色名称',width:"20%"}
                ,{field: 'role_status', title: '角色状态',width:"10%",templet:function (d) {
						return d.role_status==1?'启用':'未启用';
                    }}
                ,{field: 'des', title: '描述',width:"25%"}
                ,{fixed: 'right', width:"10%", align:'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
            ]]
        });

        //头工具栏事件

        //监听工具条
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if(layEvent === 'del'){ //删除
                if(data.role_name == "超级管理员"){
                    layer.msg('超级管理员不能编辑!',{icon:1,time:1000});
                    return;
                }
                layer.confirm('真的删除行么', function(index){
                    url_post("<{:url('systemRoleDel')}>",{id:data.id},function (res) {
                        layer.msg(res.message,{ icon:1,time:2000});
                    })
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                });
            } else if(layEvent === 'edit'){ //编辑
                // if(data.role_name == "超级管理员"){
                //      layer.msg('超级管理员不能编辑!',{icon:1,time:1000});
				// }else{
                    xadmin.open('角色编辑:'+ data.role_name,"<{:url('systemRoleEdit')}>?id="+data.id)
				// }
            }
        });
    });


</script>
</body>
</html>