<!--包含头部文件-->
<{include file="public/header" /}>

<title><{$config.cfg_webname}></title>
<meta name="keywords" content="<{$config.cfg_keywords}>">
<meta name="description" content="<{$config.cfg_description}>">
</head>
	<body>

	<{include file="public/headinfo" /}>
	<div class="idxpd">
		<div class="wrap clearfix">
			<{include file="public/usermenu" /}>
			<div class="fr usr">
				<div class="us1">
					<div class="us4top">消息列表</div>
					<{volist name="list" id="vo"}>
					<div class="posrelative us5">
						<i></i>
						<span>有适合您的需求推荐</span>
						<p><{$vo.message}>，<a href="<{$vo.url}>">立即查看请点击 </a></p>
					</div>
					<{/volist}>


					<div id="barcon" class="pager textcenter mt_30">
						<a href="">上一页</a>
						<a href="">1</a>
						<a href="">2</a>
						<a href="">3</a>
						<a href="">4</a>
						<a href="javascript:">...</a>
						<a href="">146</a>
						<a href="">下一页</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<{include file="public/footer" /}>
	
	</body>
</html>

<script>

    goPage(1); //pageNum 为你要跳转的页码

    /**
     * 分页函数
     * pno--页数
     * psize--每页显示记录数
     * 分页部分是从真实数据行开始，因而存在加减某个常数，以确定真正的记录数
     * 纯js分页实质是数据行全部加载，通过是否显示属性完成分页功能
     **/
    function goPage(pno){
        var num = $('.us5').length;//表格所有行数(所有记录数)

        var totalPage = 0;//总页数
        var pageSize = 5;//每页显示行数
        //总共分几页
        if(num/pageSize > parseInt(num/pageSize)){
            totalPage=parseInt(num/pageSize)+1;
        }else{
            totalPage=parseInt(num/pageSize);
        }
        var currentPage = pno;//当前页数
        var startRow = (currentPage - 1) * pageSize+1;//开始显示的行  31
        var endRow = currentPage * pageSize;//结束显示的行   40
        endRow = (endRow > num)? num : endRow;    //40
        //遍历显示数据实现分页
        for(var i=1;i<(num+1);i++){
            var irow = $('.us5')[i-1];
            if(i>=startRow && i<=endRow){
                irow.style.display = "block";
            }else{
                irow.style.display = "none";
            }
        }

        var tempStr = "";


        if(currentPage>1){
            tempStr += "<a class='btn' href=\"#\" onClick=\"goPage("+(currentPage-1)+")\">上一页</a>"
        }else{
            tempStr += "<a class='btn'>上一页</a>";
        }

        var pi= 1; //固定頁碼
        if(pno>=3){
            if(totalPage-pno  > 2){
                pi = pno - 2;
            }else{
                pi = totalPage - 4;
            }
        }

        for(var pageIndex = pi;pageIndex<pi+5;pageIndex++){
            if(pageIndex >= totalPage+1)break;
            if(pageIndex == pno){
                tempStr += "<a class=\"active\" onclick=\"goPage("+pageIndex+")\">"+ pageIndex +"</a>";
            }else{
                tempStr += "<a onclick=\"goPage("+pageIndex+")\">"+ pageIndex +"</a>";
            }
        }


        if(currentPage<totalPage){
            tempStr += "<a class='btn' href=\"#\" onClick=\"goPage("+(currentPage+1)+")\">下一页</a>";
        }else{
            tempStr += "<a class='btn'>下一页</a>";
        }

        document.getElementById("barcon").innerHTML = tempStr;

    }

</script>
