main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error-title {
    font-size: 1.5em;
}

.error-message {
    margin: .2em;
    font-size: 1.2em;
}

.error-message:last-child {
    font-size: 1.1em;
}

.error-title, .error-message {
    text-align: center;
}
