html {
    overflow-y: hidden;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/background-img.jpg");
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 70vh;
}

.logo {
    width: 20em;
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 360px;
    border-radius: 1em;
    border: 1px solid #707070;
    background: #FFFFFF 0 0 no-repeat padding-box;
}

.login p {
    margin: 0.9em 0;
    color: #707070;
    letter-spacing: 1px;
    font: normal normal normal 2em Segoe UI;
}

.login input {
    margin: 0.5em;
    padding: 0.7em;
    width: 80%;
    height: 1em;
    font-size: 1em;
    border-radius: 1.5em;
    border: 1.5px solid #707070;
    background: #E3E3E3 0 0 no-repeat padding-box;
}

select {
    margin-top: .7em;
    width: 60%;
    height: 2.2em;
    font-size: 1em;
    border: 1px solid #000000;
    background: #E3E3E3 0 0 no-repeat padding-box;
}

.login button {
    justify-self: flex-end;
    margin-top: .5em;
    width: 60%;
    height: 2em;
    box-shadow: 0 5px 6px #00000029;
}

.login button:first-of-type{
    margin-top: 8%;
}

.register {
    height: 450px;
}

.rank {
    width: 80%;
    height: 2em;
    font-size: 1em;
    border-radius: 1em;
    border: 2px solid #707070;
    background: #E3E3E3 0 0 no-repeat padding-box;
}

.invalid {
    outline: none;
    border-radius: 1em;
    border: 2px solid red;
    box-shadow: 0 0 0.2em red;
    color: #1A0E68;
    background-color: red;
}

@media only screen and (max-width: 900px){

    body {
        background-size: auto 100vh;
        background-position-x: 0;
    }

    .container{
        width: 100vw;
    }

    .login input {
        width: 70%;
        height: 1.5em;
    }

    select {
        height: 2.5em;
    }

    .login button {
        width: 50%;
        height: 2.5em;
    }

    .login {
        width: 50%;
        height: 70%;
    }

    .login button:first-of-type{
        margin-top: 10%;
    }

    .register {
        width: 50%;
        height: 90%;
    }
}

@media only screen and (max-width: 600px){

    body {
    }

    .login {
        width: 60%;
        height: 65%;
    }

    .login input {
        width: 70%;
        height: 1.2em;
    }

    .login button {
        height: 2.2em;
    }

    .register {
        height: 100%;
    }
}

@media only screen and (max-width: 400px) {

    .login button:first-of-type {
        margin-top: 13%;
    }

    .login {
        height: 60%;
    }

    .register {
        height: 100%;
    }
}
