html{
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.button {
    font-size: 1em;
    color: white;
    background: transparent linear-gradient(180deg, #190D66 0%, #0D0733 100%) 0% 0% no-repeat padding-box;
    border: 1px solid gray;
    border-radius: 1.5em;
}

.base-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 8%;
    width: 100%;
    background: transparent linear-gradient(180deg, #1A0E68 0%, #0D0734 100%) 0% 0% no-repeat padding-box;
    border: 1px solid black;
}

.navigation img {
    height: 100%;
    margin-top: 0.3em;
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    list-style-type: none;
    font: normal normal bold 20px/23px Arial;
    letter-spacing: 1px;
    color: white;
}

.navigation ul li:last-child {
    margin-left: auto;
    margin-right: 3em;
}

.navigation ul li {
    text-align: left;
    margin: 1em;
}

a {
    color: white;
    text-decoration: none;
}

.main {
    flex-grow: 1;
}

.hamburger {
    display: none;
}


@media only screen and (max-device-width: 1200px) {
    .navigation ul {
        display: none;
    }

    .hamburger {
        display: inline;
        color: white;
        font-size: 2em;
        margin-left: auto;
        margin-right: 1em;
    }
}

@media only screen and (max-device-width: 900px) {
    .navigation {
        background: white;
        border: none;
    }

    .navigation img{
        display: none;
    }

    .hamburger {
        font-size: 3em;
        margin: .8em;
        margin-top: 1.5em;
        /* margin-right: auto; */
        color: black;
    }
}