html, body {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.link {
    color: black;
}

a {
    cursor: pointer;
}

input {
    outline: none;
}

.btn {
    font-size: 1em;
    color: white;
    border: 1px solid gray;
    border-radius: 1.5em;
    outline: none;
    cursor: pointer;
    background: transparent linear-gradient(180deg, #190D66 0%, #0D0733 100%);
    transition: background-position .5s;
}

.btn:hover {
    background-position: 0 -2em;
}

input {
    outline: none;
}

.search-field {
    width: 16vw;
    height: 2.8em;
    margin: 1em;
    background: #E3E3E3 0 0 no-repeat padding-box;
    box-shadow: 1px 3px 6px #0000007A;
    border: 1px solid black;
    border-radius: 2em;
}

.base-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.navigation {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    height: 8%;
    width: 100%;
    background: transparent linear-gradient(180deg, #1A0E68 0%, #0D0734 100%) 0 0 no-repeat padding-box;
    border: 1px solid black;
}

.navigation img {
    height: 100%;
    margin-top: 0.3em;
}

.navigation ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    list-style-type: none;
    font: normal normal bold 20px/23px Arial;
    letter-spacing: 1px;
    color: white;
}

.navigation ul li:last-child {
    margin-left: auto;
    margin-right: 3em;
}

.navigation ul li {
    text-align: left;
    margin: 1em;
}

a {
    color: white;
    text-decoration: none;
}

.main {
    flex-grow: 1;
    margin-top: 6em;
}

.hamburger {
    display: none !important;
}

.hamburger-nav {
    display: none;
}


@media only screen and (max-width: 1200px) {
    .navigation ul {
        display: none;
    }

    .hamburger {
        display: inline !important;
        color: white;
        font-size: 2em;
        margin-left: auto;
        margin-right: 1em;
        z-index: 1;
    }

    .hamburger-nav {
        position: absolute;
        flex-direction: column;
        flex-grow: 1;
        right: 0;
        width: 12em;
        height: 100vh;
        z-index: 1;
        background: transparent linear-gradient(180deg, #0D0734 0%, #0D0700 100%) 0 0 no-repeat padding-box;
        font: normal normal bold 1.4em Arial;
    }

    /*TODO: transition*/
    .hamburger-nav-active {
        display: flex;
    }

    .hamburger-nav i {
        margin: 1em 1em 0;
        font-size: 1.5em;
    }

    .hamburger-ul {
        display: flex;
        flex-direction: column;
        margin-left: 1.6em;
        list-style-type: none;
    }

    .hamburger-ul li {
        margin: .8em;
    }

}

@media only screen and (max-width: 900px) {
    .main {
        margin-top: 4em;
    }

    .navigation {
        background: white;
        border: none;
    }

    .navigation img{
        display: none;
    }

    .hamburger {
        margin: 1.5em .8em .8em;
        /* margin-right: auto; */
        color: black;
    }

    .hamburger-nav .hamburger {
        color: white;
    }

    .hamburger-nav {
        left: 0;
    }

    .title {
        visibility: hidden;
    }
}