html {
    overflow-y: hidden;
}

body {
    background-image: url("../img/background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 70vh;
}

.logo {
    width: 20em;
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 360px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1em;
}

.login p {
    margin: 0.9em 0;
    font: normal normal normal 2em Segoe UI;
    letter-spacing: 1px;
    color: #707070;
}

.login input {
    margin: 0.5em;
    padding: 0.7em;
    font-size: 1em;
    width: 80%;
    height: 1em;
    border: 1.5px solid #707070;
    border-radius: 1.5em;
    background: #E3E3E3 0 0 no-repeat padding-box;
}

select {
    height: 2.2em;
    width: 60%;
    margin-top: .7em;
    border: 1px solid #000000;
    background: #E3E3E3 0 0 no-repeat padding-box;
    font-size: 1em;
}

.login button {
    justify-self: flex-end;
    margin-top: .5em;
    width: 60%;
    height: 2em;
    box-shadow: 0 5px 6px #00000029;
}

.login button:first-of-type{
    margin-top: 8%;
}

.register {
    height: 450px;
}

.rank {
    background: #E3E3E3 0 0 no-repeat padding-box;
    border: 2px solid #707070;
    border-radius: 1em;
    width: 80%;
    height: 2em;
    font-size: 1em;
}

.invalid {
    color: #1A0E68;
    background-color: red;
    border: 2px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

@media only screen and (max-device-width: 900px){

    body {
        font-size: 23px;
        background-size: auto 100vh;
        background-position-x: 0;
    }

    .container{
        width: 100vw;
    }

    .login input {
        width: 70%;
        height: 1.5em;
    }

    select {
        height: 3em;
    }

    .login button {
        width: 40%;
        height: 3em;
    }

    .login {
        width: 80%;
        height: 80%;
    }

    .login button:first-of-type{
        margin-top: 8%;
    }

    .register {
        width: 55%;
        height: 40em;
        font-size: 17px;
    }

}


@media only screen and (max-device-width: 600px){

    body {
        font-size: 32px;
    }

    .login {
        width: 90%;
        height: 65%;
    }

    .login input {
        width: 70%;
        height: 1.4em;
    }

    .login button {
        width: 40%;
        height: 3em;
        margin: 0.2em;
    }

    .login button:first-of-type{
        margin-top: 8%;
    }

    .register {
        width: 65%;
        height: 35em;
        font-size: 30px;
    }

}

@media only screen and (max-device-width: 400px) {
        .login button:first-of-type{
        margin-top: 13%;
    }

    .login {
        height: 45%;
    }

    .register {
        width: 80%;
        height: 30em;
        font-size: 1.2em;
    }
}

