body {
    font-size: .9em;
}

.user-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.user-list p {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-btn {
    margin-top: 1em;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.search-filter select{
    align-self: flex-end;
    height: 2.5em;
    width: 45%;
    margin-bottom: .4em;
    background: #E3E3E3 0 0 no-repeat padding-box;
    border: 1px solid #000000;
}

.user-elo {
    width: 50%;
}

.user-elo p{
    margin-bottom: .2em;
    font-size: 1.2em;;
}

.user-elo input {
    width: 90%;
}

.users {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    padding: 1em;
    /* overflow: auto; */
}

.user {
    display: flex;
    width: 30vw;
    margin-top: 5vh;
}

.user img {
    width: 8em;
    height: 8em;
    margin-right: 1.5em;
    object-fit: cover;
    box-shadow: 0 3px 6px #00000099;
    border: 1px solid #000000;
    border-radius: 1.5em
}

.user-details p {
    font-weight: 400;
    font-size: 1.3em;
    margin: 0.2em 0.3em;
}

.user-details p:first-child{
    font-weight: 700;
    font-size: 1.7em;
    margin-left: 0.1em;
}

.user-buttons {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-btn {
    height: 2em;
    width: 7em;
}

.no-users-msg {
    font-size: 1.4em !important;
}

@media only screen and (max-width: 1550px) {
    body {
        font-size: 15px;
    }

    .user {
        width: 38vw;
    }
    .user-buttons {
        align-items: flex-end;
    }

    .search-filter {
        width: 40vw;
    }

    .user-elo p{
        font-size: 1.5em;;
    }
}


@media only screen and (max-width: 1200px) {
    body {
        font-size: 17px;
    }
    
    .users {
        grid-template-columns: 1fr;
    }

    .user {
        width: 60vw;
        margin-top: 2em;
    }

    .user-buttons {
        align-items: flex-end;
        min-width: 20vw;
    }

    .user-buttons button{
        width: 10em;
    }

    .user-buttons button:first-child{
        display: none;
    }

    .user-list>p {
        font-size: 2.5em;
    }

    .search-filter {
        width: 50vw;
    }
}


@media only screen and (max-width: 900px) {

    body {
        font-size: 16px;
    }

    .user-list>p {
        position: absolute;
        top: 0;
    }

    .search-filter{
        flex-direction: column;
        width: 80vw;
    }

    .search-filter>select {
        align-self: center;
        font-size: 1.5em;
    }

    .search-filter>.user-elo {
        align-self: center;
        margin: 2em 2em 2em 4em;
        font-size: 16px;
    }
}


@media only screen and (max-width: 700px) {
    body {
        font-size: 20px;
    }

    .search-filter>select {
        font-size: 1.3em;
    }

    .user-elo p{
        font-size: 2em;;
    }
}


@media only screen and (max-width: 500px) {

    body {
        font-size: 28px;
    }

    .search-filter{
        width: 100vw;
    }

    .user {
        width: 90vw;
    }

    .user-elo p{
        font-size: 2.5em;
    }

}