.main {
    display: flex;
    flex-direction: column;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.container {
    display: flex;
}

.description {
    display: flex;
    flex-direction: column;
}

.description p {
    width: 25vw;
    margin-top: 3em;
}

.description p {
    padding: .2em 0 0 .2em;
    min-height: 68%;
    background-color: #F0F0F0;
    border-radius: .35em;
}

.description button {
    min-height: 2em;
    align-self: center;
    width: 6em;
}

.main h2 {
    font-size: 2em;
    margin: auto;
}

.user-info p:first-child{
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: .2em;
}

.user-info p {
    margin: .3em;
}

.user-info img {
    width: 15em;
    height: 15em;
    margin-right: 1.5em;
    object-fit: cover;
    background: transparent url('img/Rectangle 1468.png') 0 0 no-repeat padding-box;
    box-shadow: 1px 4px 6px #00000099;
    border: 1px solid #000000;
    border-radius: 1.5em
}


.rate-user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.messages{
    color: darkred;
}

.rate {
    margin: 2em;
    font-weight: 700;
    font-size: 1.2em;
    float: right;
}

.stars{
    display: flex;
    flex-direction: row-reverse;
}

.stars input {
    color: dimgrey;
    display: none;
    transition: .2s;
}

.stars label {
    cursor: pointer;
}

input:not(:checked) ~ label:hover {
    color: #1A0E40;
}

input:not(:checked) ~ label:hover ~ label,
input:checked ~ label {
    color: #1A0E68;
}

.rate label {
    font-size: 1.2em;
    color: cornflowerblue;
    padding: 2px;
}

.rate-button {
    position: relative;
    width: 8em;
    height: 4vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    border: 2px solid #BCE0FD;
    border-radius: 4px;
    color: #2699FB;
    background-color: white;
}

.admin-panel {
    align-self: center;
    margin-top: 1.5em;
}

.admin-panel button {
    height: 2em;
    width: 5em;
}

@media only screen and (max-device-width: 1200px){

    body {
        font-size: 1.2em;
    }

    .description>p {
        width: 40vw;
        margin-top: 3em;
    }
}


@media only screen and (max-device-width: 900px){

    body {
        font-size: 1.4em;
    }

    .rate {
        margin: 1em;
    }

    .rate-button {
        top: 3%;
    }


}


@media only screen and (max-device-width: 750px){

    body {
        font-size: 1.5em;
    }

    .main h2 {
        position: absolute;
        top: 4%;
    }

    .description>p {
        width: 40vw;
        margin-top: 3em;
    }

    .container {
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
    }
    
    .rate {
        margin: .9em;
    }

    .rate-user {
        margin-top: 2em;
    }

    .description p {
        width: 80vw;
        font-size: 1.2em;
        margin-top: .5em;
    }

}


@media only screen and (max-device-width: 600px){
    
    body {
        font-size: 1.9em;
    }

    .user-info img {
        width: 10em;
        height: 10em;
    }
    
    .rate-user {
        flex-direction: column;
        align-items: center;
    }

    .rate {
        margin: 0;
    }

    .rate p {
        margin-bottom: 0;
    }

    .rate span {
        margin-top: 0;
    }

    .description p {
            font-size: 1.1em;
        }
}


@media only screen and (max-device-width: 450px){
    body {
        font-size: 2.2em;
    }
}