<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" href="__INDEX__/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="__INDEX__/css/sanren.css"/>
  <link rel="stylesheet" type="text/css" href="__INDEX__/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="__LIB__/layui/css/layui.css" />
  <script src="__INDEX__/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="__INDEX__/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="__LIB__/layui/layui.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="__LIB__/layer/2.4/layer.js"></script>
  <script src="__INDEX__/js/public.js" type="text/javascript" charset="utf-8"></script>
