<!doctype html>
<html class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title><<{$config.cfg_webname}></title>
	<meta name="keywords" content="<<{$config.cfg_keywords}>">
	<meta name="description" content="<<{$config.cfg_description}>">
	<{include file="public/header" /}>
	<style>
		.c-red{
			color: red;
		}
		.layui-form-label{
			width: 90px;
		}
		.layui-input-block{
			margin-left: 130px;
		}
	</style>

</head>
<body>

<div class="layui-fluid">
	<div class="layui-row">
		<form class="layui-form" lay-filter="formTest"  action="" method="post">
			<{:make_input('题目名称', 'title', '')}>
			<{:make_input('答对奖励积分数', 'jifen', '')}>
			<{:make_input('难度', 'difficulty',  '')}>
			<div class="layui-form-item">
				<label class="layui-form-label">选项1：</label>
				<div class="layui-input-block"><input type="text" id="A" name="A" class="layui-input" autocomplete="off"  value="" placeholder="请输入选项1"></div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">选项2：</label>
				<div class="layui-input-block"><input type="text" id="B" name="B" class="layui-input" autocomplete="off"  value="" placeholder="请输入选项2"></div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">选项3：</label>
				<div class="layui-input-block"><input type="text" id="C" name="C" class="layui-input" autocomplete="off"  value="" placeholder="请输入选项3"></div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">选项4：</label>
				<div class="layui-input-block"><input type="text" id="D" name="D" class="layui-input" autocomplete="off"  value="" placeholder="请输入选项4"></div>
			</div>
			<{:make_input('答案序号', 'answer',  '')}>

			<div class="layui-form-item" >
				<label for="L_repass" class="layui-form-label"></label>
				<button type="button" lay-submit lay-filter="go" class="layui-btn" >提交</button>
			</div>
		</form>
	</div>
</div>
<div id="contentVal" style="display: none"> </div>
<script type="text/javascript" src="__LIB__/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__LIB__/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript">
	var content=UE.getEditor('content');
	UE.getEditor('content').addListener("ready", function () {
		// editor准备好之后才可以使用
		UE.getEditor('content').setContent($('#contentVal').html());
	})

	layui.config({
		base: '__LIB__/layui/lay/'
	}).extend({
		treeSelect: 'treeSelect/treeSelect'
	}).use(['layer', 'table', 'form', 'laydate','treeSelect','upload'], function () {
		var form = layui.form,
				upload = layui.upload;

		laydate = layui.laydate;
		//执行一个laydate实例
		laydate.render({
			elem: '#finish', //指定元素
			type: 'datetime',
			format: 'yyyy-M-d H:m:s'
		});


		laydate.render({
			elem: '#begin', //指定元素
			type: 'datetime',
			format: 'yyyy-M-d H:m:s'
		});

		upload.render({
			elem:'.img'
			,url:"<{:url('upload')}>"
			,data:{}
			,accept:'file'
			,size:0
			,multiple:false
			,done:function (res) {
				$('#img').attr('src',res['path']);
				$('input[name="img"]').val(res['path']);
			}
		})

		upload.render({
			elem:'.introduce'
			,url:"<{:url('upload')}>"
			,data:{}
			,accept:'file'
			,size:0
			,multiple:false
			,done:function (res) {
				$('#introduce').attr('src',res['path']);
				$('input[name="introduce"]').val(res['path']);
			}
		})

		// 单文件上传（文件）
		upload.render({
			elem: '.uploadFile'
			, url: 'upload'
			, multiple: false
			, accept: 'file'
			, data: {disk: 'file'}
			, before: function (obj) {
				layer.load(1);
			}
			, done: function (res) {
				$("#"+ $(this.item).data("id")).val(res['path'])
				$("#filenamea").val(res['name'])
				$(this.item).html('已上传,点击重传').attr('class', 'layui-btn layui-btn-normal uploadFile')
				layer.closeAll('loading')
			}, error: function (index, upload) {
				// layer.closeAll('loading')
			}
		})



		//监听提交
		form.on('submit(go)', function(data){


			if (data.field['finish'] < data.field['begin']){
				layer.msg('开始日期大于结束日期');
				return
			}
			data.field['finish'] = (new Date(data.field['finish'])).getTime()/1000
			data.field['begin'] = (new Date(data.field['begin'])).getTime()/1000

			url_post("<{:url('Add')}>",data.field,function (res) {
				layer.msg(res.message,{ icon:1,time:1000, end:function () {
						parent.location.reload();
					} });
			});
			return false;
		});
	});

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>